:root {
  --height: 38px;
  --background-brown-trans:rgb(51, 51, 51, 0.95);
  --white-color:  rgb(230,230,230);
  --background-brown: rgb(51, 51, 51);
  --background-white: rgb(250,235,215);
}
.custom-button.btn {
  background-color: #293241;
  color: #fff;
  border: none;
}
.custom-button.btn:hover {
  color: rgb(255, 0, 0) !important;
  border: none;
}

.application {
  width: 100%;
  height: 100%;
  overflow-y: visible;
  overflow-x: hidden;

}
.content {
  margin-top: var(--height);
}

.body {
  margin: 0;
  background: var(--background-white);
  font-family: 'Cormorant Garamond', serif;
  font-size: x-large;
  font-weight: 400;
}
