/* Extra small devices (phones, 768px and down) */
@media only screen and (max-width: 768px) {

} 


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {


}