.header {
  display: flex;
  text-align: center;
  margin: auto;
  background-color: black;
  a {
    text-decoration: none;
    color: blue;
  }
  img {
    height: 30px;
  }
}
.button {
  display: flex;
  text-align: center;
  margin: auto;
  color: white;
}
