.header {
  display: flex;
  background-color: 	var(--background-brown);
  font-family: 'Cormorant Garamond', serif;
  font-size: x-large;
  text-align: center;
  width: 100%;
  a {
    text-decoration: none;
    color: var(--white-color);
  }
  img {
    height: 30px;
  }
}
.nav-buttons{
  display: flex;
  text-align: center;
  position: relative;
  left: 10px;
}
.button {
  display: flex;
  text-align: center;
  margin: auto;
  flex-direction: column;
  color: var(--white-color);
  width: 100%; 
  padding: 15px;
  box-sizing: border-box;
  &::after {
    content: '';
    display: block;
    transform: scale(0,1);
    transition: transform ease-in-out 250ms;
    height: 3px;
    border-radius: 25px;
    background-color: rgb(230,230,230);    
  }
  &.active::after {
    transform: scale(1,1);
  }
}
// .button-soc {
//   display: flex;
//   text-align: center;
//   margin: auto;
//   color: var(--white-color);
//   width: 100%; 
//   padding: 15px;
// }
.dropdown-button {
  display: flex;
  text-align: center;
  margin: auto;
  color: var(--white-color);
  width: 100%; 

}
.dropdown-box {
  background-color: var(--background-brown-trans);
  width: 120%;
  position: absolute;
  left: -10px;
  padding-top: 8px;
  padding-bottom: 5px;
  transform: scale(1,0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}
.dropdown-content {
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: transform 150ms ease-in-out;
  a::after {
    display: block;
    transform: scale(0,1);
    transition: transform ease-in-out 250ms;
    content: "";
    height: 2px;
    background-color: var(--background-white);
    width: 50%;
    position: relative;
    left: 34px;
    border-radius: 19px;
  }
  a:hover::after {
    transform: scale(1,1);
  }
}
.dropdown {
  position: relative;
  left: 0;
  display: block;
  &:hover {
    .arrow-down {
      border-bottom: 0px;
      border-top: 10px solid var(--white-color);
    }
    .dropdown-box {
      transform: scale(1,1);
    }
    .dropdown-content {
      opacity: 1;
      transition: opacity 250ms ease-in-out 250ms;
    }
  }
}
.arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid var(--white-color);
  position: relative;
  top: 15px;
  left: 5px;
  
}
.social-buttons {
  display: flex;
  width: 100%;
  position: relative;
  justify-content: flex-end;
  flex-flow: row wrap;
  top: 18px;
  right: 15px;
}
@media only screen and (max-width: 768px) {
  .header {
    display: none;
  }
}