.litter-container {
  background-color: rgb(123, 159, 236);
  border: 1px solid black;
  margin: 5px
}

.litter-name {
  color: rgb(34, 46, 61);
}

.litter-date_of_creation {
  color: rgb(110, 8, 170)
}