.parents-flex-container {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  height: 50%;
}

.kittens-flex-container {
  text-align: center;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.title-of-container {
  text-align: center;
}