/* Extra small devices (phones, 768px and down) */
@media only screen and (max-width: 768px) {
  .news-card {
    background-color: rgb(243, 179, 179);
    text-align: center;
  }
} 


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .news-card {
    background-color: rgb(109, 109, 109);
    color: rgb(185, 185, 185);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-size: relative;
    margin-bottom: 10px;
    .news-title {
      background-color: rgb(79, 79, 80);
    }
    .container-content-img {
      display: flex;
      flex-direction: row;
      margin-bottom: 20px;
      .news-img {
        max-width: 30%;
        object-fit: contain;
      }
      .news-content {
        max-width: 70%;
      }
    }
    .news-video {
      margin-left: auto;
      margin-right: auto;
    }
  }

}